<h3>
  Markdown formatting tips
  (<a target="_blank" href="https://www.markdownguide.org">basics</a>,
  <a target="_blank" href="https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax">some GitHub extensions supported also</a>)
</h3>

<%= render partial: 'shared/markdown_table' %>
