<%
  @title = "Creating #{WikiWords.separate(@page_name).escapeHTML}".html_safe
  @hide_navigation = true
%>

<%= render partial: 'shared/syntax_help' %>

<div id="editForm">
	<%=
		form_tag(
			{
				action: 'save',
				web:    @web.address,
				id:     @page_name
			},
	    {
				id:     'editForm',
				method: 'post',
				'accept-charset' => 'utf-8'
			}
		) do
	%>
		<%= textarea_content = flash[:content] || params['content'] || '' %>
    <textarea name="content" id="content" rows="24" cols="60"><%= textarea_content %></textarea>

		<div id="editFormButtons">
    	<input type="submit" value="Submit" accesskey="s"/>
    </div>
	<% end %>
</div>

<script type="text/javascript">
	document.forms["editForm"].elements["content"].focus();

	<% if @web.markup.to_s == 'markdown' %>
		setupSVGedit('/svg-edit/editor/svg-editor.html');
	<% end %>
</script>
