<%
  @title = "Rollback to #{@page.plain_name} Rev ##{@revision_number}".html_safe
  @hide_navigation = true
%>

<%= render partial: 'shared/syntax_help' %>

<%=
	form_tag(
		{
			action: 'save',
			web:    @web.address,
			id:     @page.name
		},
		{
			id:     'editForm',
			method: 'post',
			'accept-charset' => 'utf-8'
		}
	) do
%>
	<div>
    <textarea name="content" id="content" rows="24" cols="60"><%= @revision.content %></textarea>
		<div id="editFormButtons">
      <input type="submit" value="Update" accesskey="u" />
	    |
			<span>
				<%=
					link_to(
						'Cancel',
						{ web: @web.address, action: 'cancel_edit', id: @page.name},
				    { accesskey: 'c' }
					)
				%>

        <span class="unlock">(unlocks page)</span>
			</span>
    </div>
	</div>
<% end %>
